 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #9d9d9d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

header {
  height: 200px;
  background: HSLA(189, 90%, 30%, 1);
  padding: 75px;

  h1 {
    text-align: center;
    margin: 0;
    color: white;
  }
}

.wrapper {
  @include outer-container;
  border: 1px solid gray;
  position: relative;
  height: 100%;

  h1 {
    color: white;
  }
}

.sidebar {
  background: #cccccc;
  @include span-columns(2);
  height: 100%;
  min-height: 1100px;
  float: left;
}

.sidebar-list {
  list-style: none;
  padding: 15px;;

  li {
    // text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.content-container {
  @include outer-container;
}

.tools-title {
  text-align: center;
}

.input-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include outer-container;
  @include span-columns(8);
  @include shift(2);
  position:absolute;

  input,
  textarea {
    @include span-columns(10);
    @include shift(1);
    margin-bottom: 10px;
    font-size: 1.3em;
  }
}

.name-overall-goal-container {
  @include span-columns(9);
  background-color: HSLA(0, 0%, 80%, 1);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.short-goal-input {
  @include span-columns(9);
  background: HSLA(0, 0%, 80%, 1);
  border-radius: 5px;
}

.new-goal-container {

  .addRequirement {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    @include shift(1);
    background-color: white;
    color: HSLA(189, 90%, 30%, 1);
    border-radius: 5px;
    font-size: 1.2em;
  }

  .selectGoal {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include span-columns(10);
    @include shift(1);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: HSLA(0, 0%, 66%, 1);
  }

  .newGoalButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:5px;
    background-color: white;
    margin: 10px;
    font-size: 1.3em;
    color: HSLA(189, 90%, 30%, 1);
  }

  .submitButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:5px;
    background-color: white;
    margin: 10px;
    font-size: 1.3em;
    color: HSLA(189, 90%, 30%, 1);
  }
}

.goals-view-container {
  @include outer-container;
  @include span-columns(8);
  @include shift(1);
  border: 1px solid red;
}

.overall-goal {
  border: 1px solid green;
}
