 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #9d9d9d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

header {
  height: 250px;
  background: HSLA(189, 90%, 30%, 0.5);
  text-align: center;

  .logo {
    width: 15%;
    margin: 0;
    margin-top: 20px;
  }

  h1 {
    text-align: center;
    margin: 0;
    color: white;
  }
}

.wrapper {
  @include outer-container;
  border: 1px solid gray;
  position: relative;
  height: 100%;

  h1 {
    color: white;
  }
}

.sidebar {
  background: #cccccc;
  @include span-columns(2);
  height: 100%;
  min-height: 1100px;
  float: left;
}

.sidebar-list {
  list-style: none;
  padding: 15px;

  li:first-child {
    padding-top: 30px;
  }


  a {
    text-decoration: none;
    color: RGBA(8, 126, 146, 1);
    font-size: 1.5em;
    display: block;
    margin-bottom: 15px;
    padding: 20px;
    border-bottom: 1px solid RGBA(157, 157, 157, 1);
    text-align: center;
  }
}
.logOut{
  position: absolute;
  right: 10px;
  top: 10px;
}

.sectioninfo {
  @include shift(1);
  margin-bottom: 5px;
}

.content-container {
  @include outer-container;
  outline:none;
  border: none;

  .client-link {
    text-decoration: none;
    color: RGBA(8, 126, 146, 1);
    font-size: 1.5em;
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid RGBA(204, 204, 204, 1);
    width: 30%;
    margin-left: 250px;

  }
}

.tools-title {
  margin-bottom: 0;
}

.inputGoals {
  margin: 5px;
}

.input-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include outer-container;
  @include span-columns(8);
  @include shift(2);
  position:absolute;

  input,
  textarea {
    @include span-columns(10);
    @include shift(1);
    margin-bottom: 10px;
    font-size: 1.3em;
  }
}

.name-overall-goal-container {
@include span-columns(14);
background-color: HSLA(0, 0%, 80%, 1);
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;

  textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: HSLA(0, 0%, 45%, 1);
  }
}

.short-goal-input {
  @include span-columns(14);
  background: HSLA(0, 0%, 80%, 1);
  border-radius: 5px;
}

.new-goal-container {
  margin-top: 0;

  .addRequirement {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    @include shift(1);
    background-color: white;
    color: HSLA(189, 90%, 30%, 1);
    border-radius: 5px;
    font-size: 1.2em;
  }

  .selectGoal {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include span-columns(10);
    @include shift(1);
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: HSLA(0, 0%, 66%, 1);
    border-radius: 0;
  }

  .newGoalButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:5px;
    background-color: white;
    margin: 10px;
    font-size: 1.3em;
    color: HSLA(189, 90%, 30%, 1);
  }
}
.submitButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius:5px;
    background-color: white;
    margin: 10px;
    font-size: 1.3em;
    color: HSLA(189, 90%, 30%, 1);
    float: right;
    width: 200px;
    margin-right: 0;
}

.goals-view-container {
  @include outer-container;
  @include span-columns(9.5);
  // @include shift(1);
  background-color: RGBA(204, 204, 204, 1);
  border-radius: 5px;
  margin-right:0;

  h2 {
    @include shift(0.5);
  }

  .overall-goal {
    @include shift(0.5);
    @include span-columns(11);
  }

  .monthly-goals-container {
    @include shift(0.5);
    @include span-columns(11); 
  }
}

.overall-goal {
  border: 1px solid green;

  p {
    @include shift(0.5);
  }

  h4 {

  }
}