 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

$primary-white: RGBA(255, 255, 255, 1);
$primary-black: RGBA(0, 0, 0, 1);
$primary-light-grey: RGBA(204, 204, 204, 1);
$primary-blue: RGBA(7, 125, 145, 1);
$darkgrey: RGBA(157, 157, 157, 1);

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radisu: $radius;
  border-radius: $radius;
}

// Custom Styles
body {
  background: $darkgrey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

header {
  height: 250px;
  background: $primary-blue;
  text-align: center;

  .logo {
    width: 40%;
    margin: 0;
    margin-top: 20px;
  }
}

.wrapper {
  @include outer-container;
  position: relative;
  height: 100%;

  h1 {
    color: $primary-black;
  }
}

.sidebar {
  background: $primary-light-grey;
  @include span-columns(2);
  @include border-radius(5px);
  height: 100%;
  min-height: 2000px;
  float: left;
}

.sidebar-list {
  list-style: none;
  padding: 15px;

  li:first-child {
    padding-top: 30px;
  }

  a {
    text-decoration: none;
    color: $primary-blue;
    font-size: 1.5em;
    display: block;
    margin-bottom: 15px;
    padding: 20px;
    border-bottom: 1px solid $darkgrey;
    text-align: center;
  }
}

.login {
  background-color: $primary-light-grey;
  @include span-columns(6);
  @include border-radius(5px);
  padding-top:10px;
  padding-bottom:10px;

  input {
    display:block;
    margin: 10px;
  }

  .submit {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include border-radius(5px);
    display: inline-block;
    background-color: $primary-white;
    color: $primary-blue;
    font-size: 1.2em;
    margin-top: 10px;
  }
}

.logOut {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include border-radius(5px);
  position: absolute;
  right: 10px;
  background-color: $primary-white;
  color: $primary-blue;
  font-size: 1.2em;
}

.sectioninfo {
  @include shift(1);
  margin-bottom: 10px;
}

.goal-info {
  @include shift(1);
  margin-bottom: 5px;
}

.content-container {
  @include outer-container;
  outline:none;
  border: none;

  .client-link {
    @include border-radius(5px);
    text-decoration: none;
    color: $primary-blue;
    background: $primary-light-grey;
    font-size: 1.5em;
    display: block;
    width: 30%;
    margin-bottom: 15px;
    margin-left: 250px;
    padding: 10px;
  }
}

.tools-title {
  margin-bottom: 0;
}

.input-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include outer-container;
  @include span-columns(8);
  @include shift(2);
  position:absolute;

  input,
  textarea {
    @include span-columns(10);
    @include shift(1);
    margin-bottom: 10px;
    font-size: 1.3em;
  }
}

.name-overall-goal-container {
  @include span-columns(14);
  @include border-radius(5px);
  background-color: $primary-light-grey;
  margin-bottom: 10px;
  padding: 10px;

  textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $primary-light-grey;
  }
}

.short-goal-input {
  @include span-columns(14);
  @include border-radius(5px);
  background: $primary-light-grey;
}

.new-goal-container {
  padding-top:5px;
  margin-top: 0;
  @include outer-container;
  border-bottom: 2px solid $darkgrey;
  border-top: 2px solid $darkgrey;


  .add-requirement {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    background-color: $primary-white;
    color: $primary-blue;
    @include border-radius(5px);
    font-size: 1.2em;
  }

  .select-goal {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include span-columns(10);
    @include shift(1);
    @include border-radius (0);
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: $darkgrey;
  }
}

.task-buttons{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    margin-bottom: 15px;
    margin-left: em(55px);
    font-size: 1.3em;
    color: $primary-blue;
    position:absolute;
    bottom: 0;
  }

.submitButton {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include border-radius (5px);
    background-color: $primary-white;
    margin: 10px;
    font-size: 1.3em;
    color: $primary-blue;
    float: right;
    width: 200px;
}


.goals-view-container {
  @include outer-container;
  @include span-columns(9.5);
  @include border-radius(5px);
  background-color: $primary-light-grey;
  margin-right:0;

  h2 {
    @include shift(0.5);
    margin-bottom: 5px;
    margin-top: 25px;
  }

  .overall-goal {
    @include shift(0.5);
    @include span-columns(11);
    @include border-radius(5px);
    padding: 15px;
    background-color: $primary-white;

     p {
      @include shift(0.3);
      margin: 0;
      margin-bottom: 15px;
      padding: 15px;
      border-left: 1px solid $darkgrey;
      border-right: 1px solid $darkgrey;
      border-bottom: 1px solid $darkgrey;
      }

      h4 {
        @include border-radius(5px 5px 0px 0px);
        margin-bottom: 0;
        padding: 5px;
        margin-top: 0;
        background:$primary-light-grey;
        border-bottom: 1px solid $darkgrey;
      }
  }

  .monthly-goals-container {
    @include shift(0.5);
    @include span-columns(11);
    @include border-radius(5px);
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    background-color: $primary-white;
  }
}

.monthly-goals {
  border-bottom: 1px solid $darkgrey;
  padding-bottom: 10px;

  .goal-notes {
    margin-top:5px;
  }

  h4 {
    @include border-radius(5px 5px 0px 0px);    
    padding: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid $darkgrey;
    background: $primary-light-grey;
  }

  .goal-notes {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 15px;
    border-left: 1px solid $darkgrey;
    border-right: 1px solid $darkgrey;
    border-bottom: 1px solid $darkgrey;
  }
  .task-wrapper {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 15px;
    border-left: 1px solid $darkgrey;
    border-right: 1px solid $darkgrey;
    border-bottom: 1px solid $darkgrey;
  }

  li{
    list-style:none;
  }

  li:nth-child(even){
    margin-bottom: 20px;
    padding-left: 20px;
  }
}

.update-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    @include border-radius (5px);
    display: inline-block;
    background-color: $primary-white;
    color: $primary-blue;
    font-size: 1.2em;
    margin-top: 20px;
  }

.deadline {
  float:left;
  @include shift(1);
}

.date {
  color: $darkgrey;
}

.deadline-div {
  @include outer-container;
  border-bottom: 1px solid $primary-light-grey;
  margin-bottom: 10px;
}


